# Виртуальное окружение 
venv/
.venv/
env/

backend/.env
*.db
*.ini

**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/


.vscode/
.idea/

frontend/templates





# Сборка и дистрибутивы
build/
dist/
*.egg-info/
.eggs/

# Логи
*.log

# Отчёты о покрытии
.coverage
htmlcov/
.tox/

# Файлы окружения (если есть ещё)
.env
*.env