aiosqlite        
annotated-doc    
annotated-types 
anyio             
certifi          
click            
colorama        
fastapi          
greenlet         
h11              
httpcore         
httpx             
idna             
pip              
pydantic         
pydantic_core     
SQLAlchemy       
starlette         
typing_extensions 
typing-inspection 
uvicorn          